a:link{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: blue;
}
.titulo{
    text-align: center;
    font-size: 60px;
}
.rodape{
    font-size: 25px;
}
.meio{
    font-size: 40px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(132, 0, 255), rgb(66, 149, 216));
    display: flex;
}
.centralizar{
    text-align: center;
}